<!DOCTYPE html>
<html>
  <head>
    <title>华港财富</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="<%= image_path 'favicon.png' %>" type="image/png">
    <link rel="icon" href="<%= image_path 'favicon.png' %>" type="image/png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
